<!DOCTYPE html>
<html>
<head>
  <title><%= camelized %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%%= stylesheet_link_tag 'application', media: 'all' %>
  <%%= csrf_meta_tags %>
</head>
<body>
  <%- if options.devise? -%>
  <% if options.foundation? %>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"><%= camelized %></a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%%- if current_user -%>
          <li><%%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%%- else -%>
          <li><%%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%%= link_to 'Sign In', new_user_session_path %></li>
        <%%- end -%>
      </ul>
    </section>
  </nav>
  <%- else -%>
  <ul>
    <%%- if current_user -%>
      <li><%%= link_to 'Sign Out', user_session_path(:me), method: :delete %></li>
    <%%- else -%>
      <li><%%= link_to 'Sign Up', new_registration_path %></li>
      <li><%%= link_to 'Sign In', new_user_session_path %></li>
    <%%- end -%>
  </ul>
  <%- end -%>
  <%- end -%>

  <%%- flash.each do |key, value| -%>
    <div class="flash flash-<%%= key %>">
      <%%= value %>
    </div>
  <%%- end -%>

  <%%= yield %>

  <%%= javascript_include_tag 'application' %>
  <%%= yield :extra_footer %>
</body>
</html>
